[Unit]
Description=Activate VDO scratch loop device
Requires=lvm2-lvmetad.service home.mount
Before=u1.mount
After=home.mount
#Wants=...

[Service]
ExecStart=/sbin/losetup -f /home/big_file
ExecStop=/sbin/losetup -D
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
